# Make nvm available to direnv (pick the first that exists)
if [ -d "$HOME/.config/nvm" ]; then
  export NVM_DIR="$HOME/.config/nvm"
elif [ -d "$HOME/.nvm" ]; then
  export NVM_DIR="$HOME/.nvm"
elif [ -d "/opt/homebrew/opt/nvm" ]; then
  export NVM_DIR="/opt/homebrew/opt/nvm" # Apple Silicon Homebrew
elif [ -d "/usr/local/opt/nvm" ]; then
  export NVM_DIR="/usr/local/opt/nvm" # Intel Homebrew
else
  echo "nvm.sh not found" >&2
fi

# Source nvm if available
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# activate the node version we use for this project
nvm use 22
